@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');




body {
  font-family: 'Rubik', sans-serif;
  color: #11151c;
}


html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

input {
  text-align: center;
  background: #fae3c6;
  font-size: 2rem;
}

textarea {
  resize: none;
  height: 200px;
  width: 400px;
  margin-top: 10px;
  background: #fae3c6;
  font-size: 1.5rem;
}

a { 
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}
  

li {
  list-style: none;
  margin: 0;
}

p {
  margin: 0;
}

section {
  padding: 20px 0;
}

form {
  margin-bottom: auto;
  border: 20px solid #fae3c6;
  width: 75%;
}

.App {
  text-align: center;
  height: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1280px;
  background-color: #028090;
}

.flexBox {
  display: flex;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.button {
  font-size: 3rem;
  padding: 10px 5px;
  margin: 20px;
  background: #fae3c6;
  border: none;
  box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.64);
  transition: all .5s;
  border-radius: 25%;
}

.button:hover,
.button:focus {
  box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.64);
  transform: translateY(4px);
  background: #05668d;
  cursor: pointer;
}

.button:active,
.button:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.64);
  transform: translateY(10px);
}




/* HEADER SECTION */

.home {
    /* background-color: #EEF1EF; */
    /* min-height: 100vh; */
    margin: 0;
    width: auto;
}

.heading {
  margin: 0 auto;
}

h1 {
    font-size: 6rem;
    margin: 0;
}

.headBox{
  justify-content: space-evenly;
  width: 100%;
}

.topicHolder {
    width: auto;
    
    padding: 0 40px;
    text-align: left;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
}

.topicList {
  width: 200px;
  height: 100vh;
  overflow: scroll;
  justify-content: flex-start;
  background-color: #02c39a;
}

.topicList li {
  display: inline-block;
  width: 80%;
  padding-left: 10px;
  margin: 10px auto;
  text-align: left;
  border-bottom: 5px solid #f0f3bd;
}

.listedTopic {
    font-size: 2rem;
    font-style: italic;
    font-family: 'Playfair Display', serif;
}


.listedTopic:hover,
.listedTopic:focus {
    color: #d66853;
    cursor: pointer;
}


.listedTopic::first-letter {
    font-size: 3rem;
}


/* MAIN */
.topicForm {
  
  padding: 40px;
}

.innerBorder {
   border: 15px solid #fae3c6;
   margin: 10px;
   padding: 30px;
   justify-content: center;
   align-items: center;
}

.newTopicButton {
    margin: 0 auto;
}

.topicForm .flexColumn {
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
  padding: 25px 0;
  align-items: flex-end;
}


.topInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.formBox {
  justify-content: center;
  height: 100%;
  align-items: center;
}



.topInput input {
  height: 50px;
  width: 150px;
  margin: 10px 0;
}


form label {
  font-size: 2rem;
  margin-top: 10px;
  max-width: 400px;
}

.mainContain {
  height: 100%;
}



.openArguments {
  height: 100%;
  width: 100%;
  /* margin: 0 auto; */
  align-items: center;
  justify-content: space-between;
  justify-self: center;
}

.openArguments form {
 justify-self: flex-end;
 border: 5px solid #fae3c6;
 width: 300px;
 background: #02c39a;
}

.openArguments form .flexColumn {
  align-items: center;
}

.openArguments textarea {
  width: 285px;
}

.openArguments label {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
  width: 300px;
}

.btn {
  font-size: 1.5rem;
}

.viewHolder {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.responses {
  font-size: 1.5rem;
  border: 2px solid #f7f7f7;
  width: 300px;
  margin: 5px;
}

.theArguments div:nth-of-type(2n) {
  align-self: flex-end;
  justify-self: flex-end;
}

.userName {
  display: block;
  font-style: bold;
}

@media (max-width: 1080px) {
  .innerBorder {
    border: none;
  }

  form {
    border: none;
  }

  .mainContain {
    height: auto;
  }

  .App {
    height: auto;
  }
}

@media (max-width: 780px) {
  .topicList {
    height: 200px;
    flex-direction: row;
  }

  .App {
    height: 100vh;
  }

  .mainContain {
    flex-direction: column;
  }

  .openArguments {
    flex-direction: column;
  }

}