@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

@import "./header.css";

body {
  font-family: 'Playfair Display', serif;

}


html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

input {
  text-align: center;
}

textarea {
  resize: none;
}

a { 
  color: inherit;
  text-decoration: none;
  font-size: 3rem;
  border: 2px solid gold;
  padding: 10px 5px;
  margin: 50px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}
  

li {
  list-style: none;
  margin: 0;
}


section {
  padding: 25px 0;
}

.App {
  text-align: center;
}

.wrapper {
  max-width: 1280px;
  
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.responses {
  font-size: 2rem;
  border: 2px solid blue;
  margin: 10px;
}


